.nav-link:hover{
    background: rgb(251,224,21);
    background: linear-gradient(50deg, rgba(251,224,21,1) 0%, rgba(211,247,161,1) 48%, rgba(153,233,237,1) 97%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}